<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About my page</h1>
    <h3>localhost:8000</h3>
    <h4>Py 24 Joe Speen</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/watch?v=B9VH-JZ1744&list=PLzs8bjSelrVqa8mKYvZv2kut7VBsB3_bo&index=3" frameborder="0" allowfullscreen> </iframe>
</body>
</html>